/* font 통일, 색깔 바꿔, highlight 확실히 */


/* h1 {
	font-family: "Playwrite DE SAS", cursive;
	font-optical-sizing: 16pt;
	font-weight: 400;
	font-style: normal;
} */


p {
	font-family: "Nanum Gothic", sans-serif;
	font-weight: 400;
	font-style: normal;
}

body{
 	
	/* font-family: Calibri Condensed; */
	font-family: "Nanum Gothic", sans-serif;
 } 

 .resume-section{
 	
	/* font-family: Calibri Condensed; */
	font-family: "Nanum Gothic", sans-serif;
 }



 .bg-primary {
	background-color: #1E1F26 !important;
 }
 
 .text-primary {
	color: #283655 !important;
 }
 
 a {
	color: #4D648D;
 }
 
 a:hover, a:focus, a:active {
	color: #4D648D;
 }
 
 .list-social-icons a:hover {
	color: #4D648D;
 }
 .list-icons .list-inline-item i:hover {
	color: #4D648D;
 }